
.body-index{
	background: url("/images/fondo.jpg") no-repeat center fixed;
	background-size: cover;
  background-clip: content-box;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
