
<div class="contenedor-formulario">


<%= form_for @producto, comercio_path(@conn, :obteniendo_producto), fn f -> %>

  <h2>Busqueda de Producto</h2>
  <%= text_input f, :nombre, [placeholder: "Nombre del producto a buscar", required: ""] %>  
  <%= submit "Buscar", [class: "button"] %>

<%end%>

</div>
