

<h2><%= link "Iniciar Sesion", to: login_path(@conn, :login_usuario) %></h2>
<h2><%= link "Buscar Producto", to: comercio_path(@conn, :busqueda_producto) %></h2>

<%= if @solicitud != nil do %>
  <h2><%= link "Carro", to: carro_path(@conn, :carro_compra) %>
<%end%>
