<%= if @usuario == nil do %>

<h2><%= link "Iniciar Sesion", to: login_path(@conn, :login_usuario) %></h2>
<%= else %>
<h2><%= link "Cerrar Sesion", to: login_path(@conn, :cerrar_sesion) %> </h2>
<%end%>
<h2><%= link "Buscar Producto", to: comercio_path(@conn, :busqueda_producto) %></h2>

<%= if @solicitud != nil do %>
  <h2><%= link "Carro", to: carro_path(@conn, :carro_compra) %>
<%end%>
